<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">Home</a> 
        || 
        <a href="/flights/new">New Flight</a> 
        || 
        <a href="/flights">All Flights</a>
    </nav>
    <section id="show-page">
        <div>Airline: <%= flight.airline %></div>
        <div>Airport: <%= flight.airport %></div>
        <div>Flight Number: <%= flight.flightNo %></div>
        <div>Departs: <%= flight.departs %></div>
      </section>
      
      <h2>Add A Destination</h2>
      <form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
        <label>Airport:</label>
        <select name="airport">
          <option value="DEN">DEN</option>
          <option value="AUS">AUS</option>
          <option value="DFW">DFW</option>
          <option value="LAX">LAX</option>
          <option value="SAN">SAN</option>
        </select>
        <label>Arrival Date & Time
          <input type="datetime-local" name="arrival" value="2021-01-01T00:00" min="2021-01-01T00:00">
        </label><br>
        <input type="submit" value="Add Destination">
      </form>
      <% if (flight.destinations.length) { %>
        <table>
          <thead>
            <tr>
              <th>Destinations</th>
            </tr>
          </thead>
          <tbody>
            <% flight.destinations.forEach(function(d) { %>
              <tr>
                <td><%= d.airport %></td>
                <td><%= d.arrival %></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
          <% } else { %>
            <h5>No Destinations</h5>
            <% } %>
            
            <a href="/flights/<%= flight._id %>/tickets/new">New Ticket</a> 
            
            <% if (tickets.length) { %>
              <table>
                <thead>
                  <tr>
                    <th>Currency</th>
                    <th>Price</th>
                    <th>Seat</th>
                  </tr>
                </thead>
                <tbody>
                  <% tickets.forEach(function(t) { %>
                    <tr>
                      <td><%= t.currency %></td>
                      <td><%= t.price %></td>
                      <td><%= t.seat %></td>
                    </tr>
                    <% }); %>
                </tbody>
              </table>
            <% } else { %>
              <h5>No Tickets Yet</h5>
            <% } %>

          </body>
</html>
